.infoDiv{
    position: sticky;
    top: 20px;
    /* border: 2px solid gray; */
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.button-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237, 241, 246);
    padding:  10px;
    border-radius: 10px;
}

.button-group button{
    border: none;
    /* padding: 10px; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}

.bio{
    display: flex;
    justify-content: space-between;
    background-color: rgb(237, 241, 246);
    padding: 10px;
    border-radius: 10px;
}

.info-display{
    padding: 30px;
    background-color: rgb(237, 241, 246);
    border-radius: 10px;
}

.addButton2{
    width: 200px;
    padding: 10px ;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(76, 196, 232);
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
 
}

.myCls{
    background-color: aliceblue;
    color: white;
}

.muteColor{
    color:#777
}