/* .ard{
    border: 2px solid gray;
} */

.card{
    /* border: 2px solid rgb(242, 237, 237); */
    border-radius: 20px;
    padding: 10px 10px;
    background-color: white;
    /* box-shadow: 10px 10px 20px  rgb(232, 227, 227); */

}
.card img{
    width: 100%;
    border-radius: 20px;
    height: 130px;
 
}

.card-info{
    /* text-align: center; */
    padding-left: 15px;
    padding-right: 15px;
}

.card-info > h3,  h4, h5, p{
    margin-top: 10px;
    margin-bottom: 15px;
    
}

.card-info p, h4, h5{
    color: #777;
}

.addButton{
    width: 200px;
    padding: 10px ;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
 

}

.buttonDiv{
    margin: auto;
    width: 200px
}