
.card-display{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    /* background-color: rgb(222, 230, 225); */
    
}

@media only screen and (max-width: 768px) {

.card-display{
    
    display: grid;
    grid-template-columns: 1fr ;
    
    
}
}

